<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Job Portal</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/all.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">


  <link rel="stylesheet" href="style.css">
  
</head>

<body>

<header class="header_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="logo">
          <a href="index.html">JobPortal</a>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="main_menu">
          <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="jobs.php">jobs</a></li>
            <li><a href="about.html">about us</a></li>
            <li><a href="contact.html">contact us</a></li>
            <li><a href="">register</a>
              <ul class="register_submenu">
                <li><a href="recruiter.html">registration as recruiter</a></li>
                <li><a href="jobseeker.html">register as job seeker</a></li>
              </ul>
            </li>
            <li><a href="">login</a>
              <ul class="register_submenu">
                <li><a href="recruiter.html">login as recruiter</a></li>
                <li><a href="jobseeker.html">login as job seeker</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="sidebar">
          <div class="search_options">
            <ul>
              <li>search</li>
            </ul>
          </div>
          <div class="category_options">
            <ul>
              <li>category</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        
      </div>
    </div>
  </div>
</section>

<section class="_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        
      </div>
    </div>
  </div>
</section>


<footer>
  <div class="footer_top"></div>
  <div class="footer_btm">
    <p>Copyright&copy; Mizanur Rahaman</p>
  </div>
</footer>





  
  <script src="js/jquery-3.3.1.slim.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script src="js/all.min.js"></script>
  <script src="js/bootstrap.min.js"></script>


  <script src="js/custom.js"></script>
  
</body>

</html>
