{% extends 'base.html' %}


{% block content %}
<section class="_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="sidebar">
          <div class="search_options">
            <ul>
              <li>search</li>
            </ul>
          </div>
          <div class="category_options">
            <ul>
              <li>category</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="job_area">
          <div class="single_job">
            <div class="single_job_img"></div>
            <div class="single_job_content">
              <div class="card">
                <div class="card-header">
                  <a href="">job title here</a>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Company Name: wealcode</li>
                  <li class="list-group-item">Qualificaion: b.Sc. in CSE</li>
                  <li class="list-group-item">Experienced : None</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_job">
            <div class="single_job_img"></div>
            <div class="single_job_content">
              <div class="card">
                <div class="card-header">
                  <a href="">job title here</a>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Company Name: wealcode</li>
                  <li class="list-group-item">Qualificaion: b.Sc. in CSE</li>
                  <li class="list-group-item">Experienced : None</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_job">
            <div class="single_job_img"></div>
            <div class="single_job_content">
              <div class="card">
                <div class="card-header">
                  <a href="">job title here</a>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Company Name: wealcode</li>
                  <li class="list-group-item">Qualificaion: b.Sc. in CSE</li>
                  <li class="list-group-item">Experienced : None</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        
      </div>
    </div>
  </div>
</section>
{% endblock %}

