{% extends 'base.html' %}


{% block content %}

<section class="recruter_register_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="rec_reg_title text-center">
                    <h2>Recruiter Login Form</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 offset-lg-3">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="rec_acc">
                        <input class="form-control mb-4" type="text" placeholder="UserName" name="username">
                        <input class="form-control mb-4" type="password" placeholder="PassWord" name="password">
                        <input class="form-control" type="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% for m in messages %}
        <p>{{m}}</p>
    {% endfor %}
</section>


{% endblock %}