{% extends 'base.html' %}


{% block content %}

<section class="recruter_register_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="rec_reg_title text-center">
                    <h2>Recruiter Register Form</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <form action="">
                    <div class="rec_acc">
                        <input type="text" placeholder="UserName" name="username">
                        <input type="password" placeholder="PassWord" name="password">
                        <input type="password" placeholder="Confirm PassWord" name="conpass">
                        <input type="submit" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}